Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
https://s3.amazonaws.com/suciutwo/cocktails/cocktails-0.4.1.tar.gz
gunicorn==19.1.1
itsdangerous==0.24
pyjade==3.0.0
six==1.8.0
wsgiref==0.1.2
Flask-SQLAlchemy==2.0
SQLAlchemy==0.9.8
psycopg2==2.5.4
