body {
    background: #272822;
    margin: 30px auto;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.container {
  margin: auto;
}

.col-centered{
    float: none;
}

a {
  color: #C0392B;
}

a:hover {
  color: #C0392B;
}

h1 {
  color: #C0392B;
}

p {
  color: darkgray;
}

.fix {
  max-width: 500px;
  margin: 30px auto;
}

h3 {
  color: lightgrey;
}

.btn-flat {
  color: white;
  background-image: none;
  background: #E74C3C;
  border-color: #E74C3C;
  -webkit-box-shadow: none;
}

.btn-flat:hover {
  color: white;
  background-image: none;
  background: #C0392B;
  border-color: #C0392B;
  -webkit-box-shadow: none;
}

.btn-flat:active {
  color: white;
  outline: none;
}

.btn-flat:active:hover {
  color: white;
  outline: none;
}

.btn-flat:focus {
  color: white;
  outline: none;
}

