extends ./header.jade

block content
  .container.starter-template
    h1
      p.lead.fix.
        "I have always possessed an insatiable curiosity about the whys
        and wherefores of many things and particularly of food and drinks."
  .container.fix
    .row.row-centered
      .col-md-12.col-centered
        p.
          David Embury was an attorney who wrote a
          <a href="http://en.wikipedia.org/wiki/The_Fine_Art_of_Mixing_Drinks">famous book</a>
          about cocktails in 1948. He set some absolute classics to paper and came up
          with a few ratios for good drinks (e.g. one sweet : two sour : eight base).
        p.
          This website is a tool for for exploring drinks, many of which are based
          on his principles. The main page is a search interface over CocktailDB that can
          remember who you are. There are no passwords, so you'll probably accidentally see 
          someone else's shelf, share yours, or ruin someone else's shelf. On the plus side,
          it's easy for you to share your shelf with anyone.
        p.
          The exploration tool uses nonnegative matrix factorization to describe cocktails 
          in terms of component attributes. It's definitely in beta.