extends ./header.jade
block content
    .container.starter-template
        .row
            .col-sm-10
                .d3container
            .col-sm-2
                #leaf-node-results

block scripts
    link(href="/static/css/tree.css" rel="stylesheet")
    script(src="/static/js/explore-tree.js")