doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    title Embury
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet")
    link(href="/static/css/navbar.css" rel="stylesheet")
    link(href="/static/css/starter.css" rel="stylesheet")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
          a.navbar-brand(href="/") Embury
        .collapse.navbar-collapse#navbar
          ul.nav.navbar-nav
            li
              a(href="/about/") About
          block navbar



    block content
    script(src="/static/js/load-resources.js")
    block scripts