extends ./header.jade

block content
  .container.starter-template
    button.btn.btn-flat#search Shake
    .row
      .col-sm-4
        h3 You don't have
        each ingredient in missingIngredients
          p= ingredient
      .col-sm-4
        h3#suggestionHeader I recommend
        #suggestions
          each cocktail in allCocktails
            p= cocktail
      .col-sm-4
        h3#drinkName
        #drinkIngredients

block scripts
  script(src="/static/js/search.js")