extends ./header.jade

block navbar
  if logged_in
    form.navbar-form.navbar-right(method="get", action="/logout/", role="form")
      button.btn.btn-flat#save(type="button") Remember My Shelf
      button.btn.btn-flat(type="submit") Forget #{name}
  else
    form.navbar-form.navbar-right(method="post", action="/login/", role="form")
      .form-group
        input.form-control(type="text", placeholder="Name", name="username")
      button.btn.btn-flat(type="submit") Remember Me

block content
  .container.starter-template
    .row
      .col-sm-4
      .col-sm-3
        input.typeahead.form-control#haveinput(type="text", placeholder="You have...")
      .col-sm-1
        button.btn.btn-flat#havebutton On Your Shelf
      .col-sm-4
    .row
      .col-sm-12
        #have

    .row
      .col-sm-4
      .col-sm-3
        input.typeahead.form-control#wantinput(type="text", placeholder="You want to use...")
      .col-sm-1
        button.btn.btn-flat#wantbutton In Your Drink
      .col-sm-8
    .row
      .col-sm-12
        #want
    .row
      .col-sm-2
      .col-sm-8
        h3#suggestionHeader Make
        #suggestions
        button.btn.btn-flat#search Shake
      .col-sm-2
    .row
      .col-sm-2
      .col-sm-8
        #buyMore
      .col-sm-2

block scripts
  script.
    saved_ingredients=#{owned_ingredients}
  script(src="/static/js/search.js")