extends ./header.jade

block content
  .container.starter-template
    h1 Welcome to Embury
      p.lead A database of #{cocktailCount}.

    p  Here's some more stuff.
    p  I could talk for hours.
    p  Just going to keep going.
    p  I could talk for hours.
    p  Just going to keep going.
    p  I could talk for hours.
    p  Just going to keep going.

    h1#about About
      p.lead David A. Embury was a careful man.

    p He was a lawyer.
    p But he became a bartender.
    p By writing a picky book.
    p About how to make drinks.

    h1#contact Contact
      p.lead Wait here. I'll be back in a minute.